:root { 
  --abbey: #4f4f4f;
  --black: #000000;
  --black-2: #000000d1;
  --cararra: #ececec66;
  --concrete: #f2f2f2;
  --faded-primary-color: #eff8ed;
  --green-pea: #1d6f42;
  --light-background-color: #ffffff;
  --light-gray-1: #f9f9f9;
  --light-text-color: #ffffff;
  --light-text-gray-1: #f9f9f9;
  --mine-shaft: #333333;
  --second-text-color: #727272;
  --text-color: #252b42;
 
  --font-size-58px: 58px;
  --font-size-l: 15px;
  --font-size-m: 14px;
  --font-size-s: 9px;
  --font-size-xl: 16px;
  --font-size-xxl: 18px;
  --font-size-xxxl: 20px;
  --font-size-xxxxl: 40px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.link {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.paragraph {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.h1 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-58px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.h5 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.h4 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.h2 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.montserrat-bold-green-pea-9px {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-ebony-clay-32px {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-ebony-clay-36px {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
