:root { 
  --ebony-clay: #252b42;
  --green-pea: #1d6f42;
  --ottoman: #eff8ed33;
  --ottoman-2: #eff8ed;
  --sonic-silver: #727272;
  --white: #ffffff;
 
  --font-size-l: 32px;
  --font-size-m: 20px;
  --font-size-s: 15px;
  --font-size-xl: 36px;
  --font-size-xs: 14px;
  --font-size-xxl: 58px;
  --font-size-xxs: 9px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-bold-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-green-pea-9px {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-green-pea-14px {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
}
