/* screen - about-desktop */

.about-desktop {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 4021px;
  overflow: hidden;
  width: 1440px;
}

.about-desktop .landing-page {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  height: 825px;
  margin-top: -1px;
  width: 1440px;
}

.about-desktop .overlap-group1 {
  align-items: center;
  background-image: url(../img/background@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 825px;
  width: 1440px;
}

.about-desktop .nav-bar-container {
  align-items: flex-start;
  display: flex;
  margin-top: 1px;
  overflow: hidden;
  width: 1322px;
}

.about-desktop .overlap-group {
  height: 91px;
  margin-left: 59px;
  position: relative;
  width: 1322px;
}

.about-desktop .nav-bar-container-1 {
  display: flex;
  height: 91px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.about-desktop .navbar-style-2-navbar-light {
  align-items: flex-start;
  display: flex;
  height: 91px;
  padding: 16px 0;
  width: 1322px;
}

.about-desktop .collapse-navbar-collapse {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 364px;
  width: 815px;
}

.about-desktop .main-nav-bar {
  display: flex;
  height: 24px;
  width: 275px;
}

.about-desktop .home {
  display: flex;
}

.about-desktop .a {
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.about-desktop .link {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 45px;
}

.about-desktop .main-nav-bar-item {
  display: flex;
  margin-left: 21px;
}

.about-desktop .a-1 {
  display: flex;
  height: 24px;
  width: 59px;
}

.about-desktop .link-1 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20.34%;
  margin-right: 16.95%;
  text-align: center;
  white-space: nowrap;
  width: 37px;
}

.about-desktop .a-2 {
  display: flex;
  height: 24px;
  width: 52px;
}

.about-desktop .link-2 {
  color: var(--green-pea);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 49px;
}

.about-desktop .a-3 {
  display: flex;
  height: 24px;
  width: 58px;
}

.about-desktop .link-3 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.about-desktop .cta {
  display: flex;
  margin-left: 326px;
  width: 214px;
}

.about-desktop .join-us {
  display: flex;
  width: 214px;
}

.about-desktop .buttonbtnprimary-color {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.about-desktop .btn-text {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.about-desktop .icn-arrow-right-icn-xs {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.about-desktop .navbar-toggler {
  align-self: center;
  height: 14px;
  margin-left: 119px;
  margin-top: 0.71px;
  width: 24px;
}

.about-desktop .long-bold-logo-1 {
  height: 46px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 211px;
}

.about-desktop .container {
  display: flex;
  height: 720px;
  justify-content: center;
  margin-top: 13px;
  width: 1440px;
}

.about-desktop .row {
  display: flex;
  justify-content: center;
  margin-top: 112px;
  width: 1340px;
}

.about-desktop .main-content {
  display: flex;
  flex-direction: column;
  height: 496px;
  width: 1340px;
}

.about-desktop .h1-headline-sec {
  color: var(--text-color);
  height: 240px;
  line-height: 80px;
  margin-left: 229px;
  margin-top: 40px;
  text-align: center;
  width: 884px;
}

.about-desktop .h4-sub-headline-sec {
  color: var(--second-text-color);
  height: 150px;
  line-height: 30px;
  margin-left: 404px;
  text-align: center;
  width: 534px;
}

.about-desktop .story {
  background-color: var(--light-gray-1);
  display: flex;
  height: 900px;
  justify-content: center;
  width: 1440px;
}

.about-desktop .container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 900px;
  padding: 50px 0;
  width: 1440px;
}

.about-desktop .row-1 {
  display: flex;
  justify-content: center;
  margin-top: 62px;
  width: 1240px;
}

.about-desktop .main-content-1 {
  display: flex;
  flex-direction: column;
  height: 204px;
  width: 1240px;
}

.about-desktop .h2-section-title-3 {
  height: 50px;
  letter-spacing: 0.20px;
  line-height: 50px;
  margin-left: 60px;
  white-space: nowrap;
  width: 124px;
}

.about-desktop .paragraph-sec {
  color: var(--second-text-color);
  height: 96px;
  line-height: 24px;
  margin-left: 60px;
  margin-top: 10px;
  width: 1122px;
}

.about-desktop .row-2 {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  width: 1037px;
}

.about-desktop .row-3 {
  height: 532px;
  margin-left: -201px;
  object-fit: cover;
  width: 1038px;
}

.about-desktop .changing {
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1440px;
}

.about-desktop .container-2 {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-left: 195px;
  margin-right: 195px;
  max-height: 362px;
}

.about-desktop .row-4 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 1050px;
}

.about-desktop .main-content-2 {
  display: flex;
  flex-direction: column;
  height: 202px;
  margin-left: -3px;
  overflow: hidden;
  width: 1044px;
}

.about-desktop .h3-section-title-se {
  color: var(--text-color);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.about-desktop .paragraph-sec-1 {
  color: var(--second-text-color);
  line-height: 24px;
  margin-top: 10px;
  text-align: center;
}

.about-desktop .group-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 198px;
  margin-right: 168.0px;
  margin-top: 25px;
  max-height: 438px;
  min-width: calc(100.00% - 366px);
}

.about-desktop .overlap-group1-1 {
  height: 438px;
  margin-top: -0.01px;
  position: relative;
  width: 1050px;
}

.about-desktop .circle-gavin-1 {
  height: 148px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 152px;
}

.about-desktop .x3-1 {
  height: 148px;
  left: 226px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 152px;
}

.about-desktop .x14-1 {
  height: 149px;
  left: 117px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 152px;
}

.about-desktop .x13-1 {
  height: 149px;
  left: 211px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 180px;
}

.about-desktop .x11-1 {
  height: 149px;
  left: 654px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 180px;
}

.about-desktop .x4-1 {
  height: 148px;
  left: 669px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 151px;
}

.about-desktop .x7-1 {
  height: 148px;
  left: 449px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 152px;
}

.about-desktop .x6-1 {
  height: 149px;
  left: 327px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 180px;
}

.about-desktop .x5-1 {
  height: 149px;
  left: 888px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 152px;
}

.about-desktop .x10-1 {
  height: 149px;
  left: 561px;
  object-fit: cover;
  position: absolute;
  top: 280px;
  width: 152px;
}

.about-desktop .x12-2 {
  height: 148px;
  left: 888px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 152px;
}

.about-desktop .name {
  color: var(--black);
  left: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .name-1 {
  color: var(--black);
  left: 217px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .kitty-jose {
  color: var(--black);
  left: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 252px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .sreya-chatterjee {
  color: var(--black);
  left: 441px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .cheuk-ting-ho {
  color: var(--black);
  left: 660px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .name-2 {
  color: var(--black);
  left: 880px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 121px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .text-3 {
  color: var(--black);
  left: 880px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 252px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .name-3 {
  color: var(--black);
  left: 660px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 252px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .name-4 {
  color: var(--black);
  left: 442px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 252px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .name-5 {
  color: var(--black);
  left: 217px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 252px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .vivek-varughese {
  color: var(--black);
  left: 333px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 171px;
}

.about-desktop .name-6 {
  color: var(--black);
  left: 109px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 398px;
  white-space: nowrap;
  width: 170px;
}

.about-desktop .dani-papamaximou {
  color: var(--black);
  left: 552px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 398px;
  width: 170px;
}

.about-desktop .x9-1 {
  height: 149px;
  left: 449px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 152px;
}

.about-desktop .x8-1 {
  height: 149px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 132px;
  width: 152px;
}

.about-desktop .overlap-group-1 {
  height: 158px;
  left: 770px;
  position: absolute;
  top: 280px;
  width: 170px;
}

.about-desktop .neel-parihar {
  color: var(--black);
  left: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 118px;
  width: 170px;
}

.about-desktop .untitled-design-24-1 {
  height: 149px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 151px;
}

.about-desktop .excel-love {
  align-items: flex-end;
  background-color: var(--light-gray-1);
  display: flex;
  flex-direction: column;
  height: 1057px;
  margin-top: 1px;
  padding: 148px 100px;
  width: 1440px;
}

.about-desktop .h2-section-title-3-1 {
  align-self: center;
  letter-spacing: 0.20px;
  line-height: 50px;
  margin-left: 85.0px;
  min-height: 100px;
  min-width: 669px;
}

.about-desktop .row-5 {
  align-items: center;
  display: flex;
  min-width: 1157px;
}

.about-desktop .col-md-6 {
  display: flex;
  height: 519px;
  justify-content: center;
  overflow: hidden;
  width: 546px;
}

.about-desktop .row-6 {
  display: flex;
  height: 537px;
  margin-left: 31px;
  width: 608px;
}

.about-desktop .image-1 {
  height: 508px;
  object-fit: cover;
  width: 462px;
}

.about-desktop .col-md-5 {
  display: flex;
  flex-direction: column;
  height: 413px;
  margin-left: 127px;
  overflow: hidden;
  width: 484px;
}

.about-desktop .paragraph-sec-2 {
  color: var(--second-text-color);
  line-height: 24px;
}

.about-desktop .fixed-width-fixed-height-sec {
  height: 0.5px;
  margin-left: 46.8px;
  margin-top: 38.2px;
  width: 0.5px;
}

.about-desktop .footer {
  background-color: var(--light-gray-1);
  display: flex;
  justify-content: center;
  margin-left: -2px;
  margin-top: 270px;
  width: 1442px;
}

.about-desktop .div {
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  width: 1440px;
}

.about-desktop .text-4 {
  color: var(--green-pea);
  font-weight: 700;
  height: 36px;
  line-height: 24px;
  margin-left: 145px;
  margin-top: 31px;
  width: 262px;
}

.about-desktop .terms-of-service {
  color: var(--green-pea);
  font-weight: 700;
  height: 36px;
  line-height: 24px;
  margin-left: 65px;
  margin-top: 30px;
  width: 260px;
}

.about-desktop .twitter {
  height: 30px;
  margin-left: 403px;
  margin-top: 23px;
  width: 30px;
}

.about-desktop .div-item {
  height: 30px;
  margin-left: 14px;
  margin-top: 23px;
  width: 30px;
}

.about-desktop .you-tube-play-button {
  height: 30px;
  margin-left: 14px;
  margin-top: 21px;
  width: 30px;
}
/* screen - about-mobile */

.about-mobile {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 3604px;
  overflow: hidden;
  width: 360px;
}

.about-mobile .nav-bar-container-2 {
  background-color: var(--light-background-color);
  display: flex;
  height: 47px;
  overflow: hidden;
  width: 360px;
}

.about-mobile .menu-rounded {
  height: 21px;
  margin-left: 11px;
  margin-top: 17px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 27px;
}

.about-mobile .menu-rounded:hover {
  background-color: #31a063
}

.about-mobile .long-bold-logo-1-1 {
  height: 41px;
  margin-left: 215px;
  margin-top: 10px;
  object-fit: cover;
  width: 128px;
}

.about-mobile .overlap-group3 {
  height: 3400px;
  margin-left: -5px;
  margin-top: 4px;
  position: relative;
  width: 365px;
}

.about-mobile .landing-page-1 {
  align-items: center;
  background-color: var(--light-background-color);
  display: flex;
  height: 597px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 364px;
}

.about-mobile .background {
  display: flex;
  height: 597px;
  margin-top: -298.5px;
  width: 364px;
}

.about-mobile .hero-1-bg-shape-cover {
  display: flex;
  flex: 1;
  margin-bottom: 125px;
  width: 364px;
}

.about-mobile .hero-shape-light-3-sec {
  align-items: flex-start;
  display: flex;
  min-width: 360px;
}

.about-mobile .overlap-group-2 {
  height: 645px;
  margin-left: -232px;
  margin-top: -75px;
  position: relative;
  width: 720px;
}

.about-mobile .rectangle-13 {
  height: 518px;
  left: 471px;
  position: absolute;
  top: 0;
  width: 249px;
}

.about-mobile .rectangle-14 {
  height: 137px;
  left: 0;
  position: absolute;
  top: 75px;
  width: 344px;
}

.about-mobile .container-3 {
  display: flex;
  height: 570px;
  justify-content: center;
  left: 232px;
  position: absolute;
  top: 75px;
  width: 360px;
}

.about-mobile .row-7 {
  display: flex;
  height: 335px;
  justify-content: center;
  margin-top: 117.5px;
  width: 325px;
}

.about-mobile .main-content-3 {
  display: flex;
  flex-direction: column;
  height: 287px;
  width: 325px;
}

.about-mobile .h1-headline-sec-1 {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-weight: 700;
  height: 67px;
  letter-spacing: 0.20px;
  line-height: 32px;
  margin-left: 8.5px;
  margin-top: 40px;
  text-align: center;
  width: 310px;
}

.about-mobile .h4-sub-headline-sec-1 {
  height: 120px;
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-left: 13px;
  margin-top: 20px;
  text-align: center;
  width: 301px;
}

.about-mobile .story-1 {
  background-color: var(--light-gray-1);
  display: flex;
  height: 782px;
  justify-content: center;
  left: 5px;
  position: absolute;
  top: 521px;
  width: 360px;
}

.about-mobile .container-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 739px;
  padding: 62px 0;
  width: 360px;
}

.about-mobile .row-8 {
  background-image: url(../img/row@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 189px;
  margin-left: 1.5px;
  width: 357px;
}

.about-mobile .row-9 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 360px;
}

.about-mobile .main-content-4 {
  display: flex;
  flex-direction: column;
  height: 396px;
  overflow: hidden;
  width: 320px;
}

.about-mobile .h2-section-title-3-2 {
  letter-spacing: 0.20px;
  line-height: 50px;
  white-space: nowrap;
}

.about-mobile .paragraph-sec-3 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 10px;
}

.about-mobile .changing-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  height: 1133px;
  left: 4px;
  overflow: hidden;
  position: absolute;
  top: 1238px;
  width: 361px;
}

.about-mobile .overlap-group2 {
  height: 1071px;
  position: relative;
  width: 362px;
}

.about-mobile .container-5 {
  display: flex;
  height: 452px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.about-mobile .row-10 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 321px;
}

.about-mobile .main-content-5 {
  display: flex;
  flex-direction: column;
  height: 362px;
  overflow: hidden;
  width: 321px;
}

.about-mobile .h3-section-title-se-1 {
  color: var(--text-color);
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}

.about-mobile .paragraph-sec-4 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 10px;
  text-align: center;
}

.about-mobile .overlap-group1-2 {
  height: 623px;
  left: 1px;
  position: absolute;
  top: 448px;
  width: 361px;
}

.about-mobile .circle-gavin-1-1 {
  height: 139px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100px;
}

.about-mobile .name-7 {
  left: 0;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 113px;
  width: 111px;
}

.about-mobile .x3-1-1 {
  height: 139px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100px;
}

.about-mobile .name-8 {
  left: 123px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 113px;
  width: 111px;
}

.about-mobile .x7-1-1 {
  height: 139px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100px;
}

.about-mobile .sreya-chatterjee-1 {
  left: 250px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 111px;
  width: 111px;
}

.about-mobile .x8-1-1 {
  height: 139px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 100px;
}

.about-mobile .kitty-jose-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 236px;
  width: 111px;
}

.about-mobile .x13-1-1 {
  height: 139px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 116px;
}

.about-mobile .name-9 {
  left: 123px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 236px;
  width: 111px;
}

.about-mobile .x9-1-1 {
  height: 139px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 100px;
}

.about-mobile .name-10 {
  left: 252px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 236px;
  width: 106px;
}

.about-mobile .x14-1-1 {
  height: 139px;
  left: 63px;
  object-fit: cover;
  position: absolute;
  top: 484px;
  width: 100px;
}

.about-mobile .x6-1-1 {
  height: 140px;
  left: 244px;
  object-fit: cover;
  position: absolute;
  top: 363px;
  width: 116px;
}

.about-mobile .vivek-varughese-1 {
  left: 256px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 476px;
  width: 102px;
}

.about-mobile .name-11 {
  left: 59px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 600px;
  width: 111px;
}

.about-mobile .text-1 {
  left: 123px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 476px;
  width: 111px;
}

.about-mobile .name-12 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 350px;
  white-space: nowrap;
  width: 111px;
}

.about-mobile .name-13 {
  left: 123px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 350px;
  white-space: nowrap;
  width: 111px;
}

.about-mobile .dani-papamaximou-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  text-align: center;
  top: 476px;
  width: 111px;
}

.about-mobile .cheuk-ting-ho-1 {
  left: 247px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 350px;
  white-space: nowrap;
  width: 111px;
}

.about-mobile .x5-1-1 {
  height: 140px;
  left: 127px;
  object-fit: cover;
  position: absolute;
  top: 362px;
  width: 100px;
}

.about-mobile .x10-1-1 {
  height: 140px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 362px;
  width: 100px;
}

.about-mobile .x4-1-1 {
  height: 139px;
  left: 255px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 100px;
}

.about-mobile .x11-1-1 {
  height: 139px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 116px;
}

.about-mobile .x12-2-1 {
  height: 139px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 245px;
  width: 100px;
}

.about-mobile .overlap-group-3 {
  height: 139px;
  left: 182px;
  position: absolute;
  top: 484px;
  width: 111px;
}

.about-mobile .neel-parihar-1 {
  left: 0;
  letter-spacing: 0.20px;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 105px;
  white-space: nowrap;
  width: 111px;
}

.about-mobile .untitled-design-24-1-1 {
  height: 139px;
  left: 18px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 73px;
}

.about-mobile .excel-you-love {
  background-color: var(--light-gray-1);
  display: flex;
  height: 1055px;
  justify-content: center;
  left: 5px;
  position: absolute;
  top: 2345px;
  width: 360px;
}

.about-mobile .row-11 {
  display: flex;
  flex-direction: column;
  height: 983px;
  margin-top: 50px;
  width: 320px;
}

.about-mobile .fixed-width-fixed-height-sec-1 {
  height: 0.5px;
  margin-left: 159.8px;
  margin-top: 3.2px;
  width: 0.5px;
}

.about-mobile .h2-section-title-3-3 {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.20px;
  line-height: 30px;
  margin-top: 33.2px;
}

.about-mobile .image-1-1 {
  height: 337px;
  margin-left: 5px;
  margin-top: 30px;
  object-fit: cover;
  width: 310px;
}

.about-mobile .paragraph-sec-5 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 30px;
}

.about-mobile .fixed-width-fixed-height-sec-2 {
  height: 0.5px;
  margin-left: 159.8px;
  margin-top: 33.2px;
  width: 0.5px;
}

.about-mobile .footer-1 {
  background-color: var(--light-gray-1);
  display: flex;
  height: 153px;
  justify-content: center;
  width: 360px;
}

.about-mobile .div-1 {
  align-items: flex-start;
  background-color: var(--faded-primary-color);
  display: flex;
  flex-direction: column;
  height: 151px;
  padding: 30px 40px;
  width: 360px;
}

.about-mobile .text-2 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-bottom: -1px;
  margin-top: 7px;
  min-height: 23px;
  white-space: nowrap;
}

.about-mobile .terms-of-service-1 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 3px;
  min-height: 26px;
  white-space: nowrap;
}

.about-mobile .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 11px;
  min-width: 136px;
}

.about-mobile .twitter-1 {
  height: 21px;
  width: 25px;
}

.about-mobile .flex-row-item {
  height: 21px;
  margin-left: 12px;
  width: 25px;
}
/* screen - about-tablet */

.about-tablet {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 3569px;
  overflow: hidden;
  width: 768px;
}

.about-tablet .landing-page-2 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  height: 825px;
  justify-content: center;
  overflow: hidden;
  width: 768px;
}

.about-tablet .overlap-group-4 {
  align-items: flex-end;
  background-image: url(../img/background-1@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: -79px;
  min-height: 983px;
  padding: 79px 303px;
  width: 1440px;
}

.about-tablet .nav-bar-container-3 {
  display: flex;
  height: 88px;
  justify-content: center;
  overflow: hidden;
  width: 832px;
}

.about-tablet .nav-bar-container-4 {
  display: flex;
  justify-content: center;
  width: 766px;
}

.about-tablet .navbar-style-2-navbar-light-1 {
  align-items: flex-end;
  display: flex;
  height: 91px;
  margin-left: 1px;
  overflow: hidden;
  padding: 16px 0;
  width: 688px;
}

.about-tablet .long-bold-logo-1-2 {
  height: 46px;
  margin-bottom: 1px;
  margin-left: -50px;
  object-fit: cover;
  width: 211px;
}

.about-tablet .collapse-navbar-collapse-1 {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 23px;
  width: 503px;
}

.about-tablet .main-nav-bar-1 {
  display: flex;
  height: 24px;
  width: 275px;
}

.about-tablet .home-1 {
  display: flex;
}

.about-tablet .a-4 {
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.about-tablet .link-4 {
  color: var(--green-pea);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 45px;
}

.about-tablet .main-nav-bar-item-1 {
  display: flex;
  margin-left: 21px;
}

.about-tablet .a-5 {
  display: flex;
  height: 24px;
  width: 59px;
}

.about-tablet .link-5 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20.34%;
  margin-right: 16.95%;
  text-align: center;
  white-space: nowrap;
  width: 37px;
}

.about-tablet .a-6 {
  display: flex;
  height: 24px;
  width: 52px;
}

.about-tablet .link-6 {
  color: #828282;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 49px;
}

.about-tablet .a-7 {
  display: flex;
  height: 24px;
  width: 58px;
}

.about-tablet .link-7 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.about-tablet .cta-1 {
  display: flex;
  margin-left: 75px;
  width: 153px;
}

.about-tablet .join-us-1 {
  display: flex;
  width: 153px;
}

.about-tablet .buttonbtnprimary-color-1 {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.about-tablet .btn-text-1 {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.about-tablet .icn-arrow-right-icn-xs-1 {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.about-tablet .navbar-toggler-1 {
  align-self: center;
  height: 14px;
  margin-left: 611px;
  margin-top: 0.71px;
  width: 24px;
}

.about-tablet .container-6 {
  align-self: center;
  display: flex;
  height: 720px;
  justify-content: center;
  margin-top: 17px;
  width: 768px;
}

.about-tablet .row-12 {
  display: flex;
  justify-content: center;
  margin-top: 185px;
  width: 628px;
}

.about-tablet .main-content-6 {
  display: flex;
  flex-direction: column;
  height: 350px;
  overflow: hidden;
  width: 628px;
}

.about-tablet .h1-headline-sec-2 {
  letter-spacing: 0.20px;
  line-height: 50px;
  margin-top: 40px;
  text-align: center;
}

.about-tablet .h4-sub-headline-sec-2 {
  color: var(--second-text-color);
  line-height: 30px;
  margin-top: 50px;
  text-align: center;
}

.about-tablet .story-2 {
  background-color: var(--light-gray-1);
  display: flex;
  height: 893px;
  width: 768px;
}

.about-tablet .container-7 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 893px;
  padding: 72px 0;
}

.about-tablet .row-13 {
  display: flex;
  justify-content: center;
  width: 688px;
}

.about-tablet .main-content-7 {
  display: flex;
  flex-direction: column;
  height: 242px;
  overflow: hidden;
  width: 688px;
}

.about-tablet .h2-section-title-3-4 {
  letter-spacing: 0.20px;
  line-height: 50px;
  white-space: nowrap;
}

.about-tablet .paragraph-sec-6 {
  color: var(--second-text-color);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  letter-spacing: 0.20px;
  line-height: 26px;
  margin-top: 10px;
}

.about-tablet .row-14 {
  background-image: url(../img/row-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 409px;
  margin-top: 72px;
  width: 688px;
}

.about-tablet .changing-2 {
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 999px;
  overflow: hidden;
  width: 768px;
}

.about-tablet .container-8 {
  display: flex;
  justify-content: center;
}

.about-tablet .row-15 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  width: 688px;
}

.about-tablet .main-content-8 {
  display: flex;
  flex-direction: column;
  height: 295px;
  width: 688px;
}

.about-tablet .h3-section-title-se-2 {
  letter-spacing: 0.10px;
  line-height: 38px;
  text-align: center;
}

.about-tablet .paragraph-sec-7 {
  letter-spacing: 0.20px;
  line-height: 27px;
  margin-top: 30px;
  text-align: center;
}

.about-tablet .frame-1 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
  padding: 0 19px;
}

.about-tablet .overlap-group3-1 {
  height: 540px;
  position: relative;
  width: 704px;
}

.about-tablet .group-1 {
  align-items: flex-start;
  display: flex;
  height: 540px;
  left: 0;
  min-width: 704px;
  padding: 0 0.0px;
  position: absolute;
  top: 0;
}

.about-tablet .overlap-group-5 {
  height: 540px;
  margin-top: -0.02px;
  position: relative;
  width: 543px;
}

.about-tablet .circle-gavin-1-2 {
  height: 185px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 115px;
}

.about-tablet .circle-gavin-1-stroke {
  height: 1px;
  left: 62px;
  position: absolute;
  top: 92px;
  width: 1px;
}

.about-tablet .x3-1-2 {
  height: 185px;
  left: 143px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 114px;
}

.about-tablet .x14-1-2 {
  height: 185px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 114px;
}

.about-tablet .x13-1-2 {
  height: 186px;
  left: 134px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 128px;
}

.about-tablet .x11-1-2 {
  height: 186px;
  left: 415px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 128px;
}

.about-tablet .x4-1-2 {
  height: 185px;
  left: 424px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 114px;
}

.about-tablet .x7-1-2 {
  height: 185px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 115px;
}

.about-tablet .x6-1-2 {
  height: 185px;
  left: 204px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 128px;
}

.about-tablet .x10-1-2 {
  height: 185px;
  left: 352px;
  object-fit: cover;
  position: absolute;
  top: 344px;
  width: 115px;
}

.about-tablet .name-14 {
  color: var(--black);
  left: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 122px;
}

.about-tablet .name-15 {
  color: var(--black);
  left: 138px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .kitty-jose-2 {
  color: var(--black);
  left: 0;
  line-height: 32px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .sreya-chatterjee-2 {
  color: var(--black);
  left: 275px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 151px;
  width: 137px;
}

.about-tablet .cheuk-ting-ho-2 {
  color: var(--black);
  left: 419px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .name-16 {
  color: var(--black);
  left: 419px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .name-17 {
  color: var(--black);
  left: 280px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .name-18 {
  color: var(--black);
  left: 138px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 315px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .vivek-varughese-2 {
  color: var(--black);
  left: 208px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 489px;
  width: 122px;
}

.about-tablet .name-19 {
  color: var(--black);
  left: 66px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 489px;
  width: 122px;
}

.about-tablet .dani-papamaximou-2 {
  color: var(--black);
  left: 347px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 490px;
  width: 139px;
}

.about-tablet .x9-1-2 {
  height: 186px;
  left: 285px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 115px;
}

.about-tablet .x8-1-2 {
  height: 186px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 115px;
}

.about-tablet .overlap-group1-3 {
  height: 350px;
  margin-left: 16px;
  margin-top: -0.02px;
  position: relative;
  width: 122px;
}

.about-tablet .x5-1-2 {
  height: 186px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 164px;
  width: 114px;
}

.about-tablet .x12-2-2 {
  height: 185px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 114px;
}

.about-tablet .name-20 {
  color: var(--black);
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 150px;
  white-space: nowrap;
  width: 122px;
}

.about-tablet .text-5 {
  color: var(--black);
  left: 8px;
  line-height: 17px;
  position: absolute;
  text-align: center;
  top: 315px;
  width: 114px;
}

.about-tablet .overlap-group2-1 {
  height: 185px;
  left: 507px;
  position: absolute;
  top: 343px;
  width: 103px;
}

.about-tablet .neel-parihar-2 {
  color: var(--black);
  left: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 146px;
  width: 103px;
}

.about-tablet .untitled-design-24-1-2 {
  height: 185px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 70px;
}

.about-tablet .overlap-group4 {
  height: 851px;
  margin-top: 1px;
  position: relative;
  width: 770px;
}

.about-tablet .excel-you-love-1 {
  background-color: var(--light-gray-1);
  display: flex;
  height: 797px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 766px;
}

.about-tablet .container-9 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 900px;
  margin-right: 1px;
  padding: 60px 38px;
}

.about-tablet .h2-section-title-3-5 {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 0.20px;
  line-height: 34px;
  min-height: 104px;
  text-align: center;
  width: 687px;
}

.about-tablet .row-16 {
  align-items: center;
  align-self: center;
  display: flex;
  min-width: 685px;
}

.about-tablet .col-md-6-1 {
  display: flex;
  justify-content: center;
  width: 292px;
}

.about-tablet .row-17 {
  display: flex;
  height: 676px;
  width: 292.5px;
}

.about-tablet .image-1-2 {
  height: 410px;
  object-fit: cover;
  width: 371px;
}

.about-tablet .col-md-5-1 {
  display: flex;
  height: 676px;
  margin-left: 50px;
  width: 292px;
}

.about-tablet .paragraph-sec-8 {
  height: 474px;
  letter-spacing: 0.20px;
  line-height: 27px;
  width: 365px;
}

.about-tablet .fixed-width-fixed-height-sec-3 {
  height: 1px;
  margin-left: 50px;
  width: 1px;
}

.about-tablet .footer-2 {
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  left: 1px;
  position: absolute;
  top: 777px;
  width: 769px;
}

.about-tablet .text-6 {
  height: 36px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 31px;
  width: 172px;
}

.about-tablet .terms-of-service-2 {
  height: 36px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 5px;
  margin-top: 29px;
  width: 92px;
}

.about-tablet .twitter-2 {
  height: 21px;
  margin-left: 284px;
  margin-top: 31px;
  width: 25px;
}

.about-tablet .footer-item {
  height: 21px;
  margin-left: 12px;
  margin-top: 31px;
  width: 25px;
}
@media screen and (max-width: 767px) {
  .screen.about-desktop { 
    display: none;
   }
  .screen.about-tablet { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .screen.about-mobile { 
    display: none;
   }
  .screen.about-desktop { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.about-mobile { 
    display: none;
   }
  .screen.about-tablet { 
    display: none;
   }
}