:root { 
  --black: #000000;
  --ebony-clay: #252b42;
  --green-pea: #1d6f42;
  --hint-of-red: #f9f9f9;
  --ottoman: #eff8ed;
  --sonic-silver: #727272;
  --white: #ffffff;
 
  --font-size-l: 15px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xl: 16px;
  --font-size-xs: 12px;
  --font-size-xxl: 20px;
  --font-size-xxs: 10px;
 
  --font-family-montserrat: "Montserrat", Helvetica;
}
.montserrat-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-ebony-clay-24px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-green-pea-9px {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
}

.montserrat-bold-green-pea-14px {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.montserrat-normal-sonic-silver-16px {
  color: var(--sonic-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-sonic-silver-13px {
  color: var(--sonic-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-ebony-clay-36px {
  color: var(--ebony-clay);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
