/* screen - pricing */

.pricing {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 2619px;
  width: 1440px;
}

.pricing .landing-page {
  align-items: flex-end;
  background-color: var(--light-background-color);
  display: flex;
  height: 1145px;
  overflow: hidden;
  width: 1440px;
}

.pricing .overlap-group1 {
  height: 1205px;
  margin-bottom: -60px;
  position: relative;
  width: 1440px;
}

.pricing .rectangle-1 {
  height: 571px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.pricing .container {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 59px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 1322px;
}

.pricing .nav-bar-container {
  align-items: flex-start;
  display: flex;
  margin-left: 59px;
  width: 1322px;
}

.pricing .overlap-group {
  height: 91px;
  position: relative;
  width: 1322px;
}

.pricing .navbar-style-2-navbar-light {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 0;
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.pricing .collapse-navbar-collapse {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 364px;
  width: 815px;
}

.pricing .main-nav-bar {
  align-items: flex-start;
  display: flex;
  width: 275px;
}

.pricing .home {
  align-items: flex-start;
  display: flex;
  width: 43px;
}

.pricing .a {
  align-items: flex-start;
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.pricing .link {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.pricing .blog {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 59px;
}

.pricing .a-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 0 10px;
  width: 59px;
}

.pricing .link-1 {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 37px;
  text-align: center;
  white-space: nowrap;
}

.pricing .about {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 52px;
}

.pricing .a-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  width: 52px;
}

.pricing .link-2 {
  color: #828282;
  font-weight: 700;
  line-height: 24px;
  margin-left: 3px;
  min-height: 24px;
  min-width: 49px;
  text-align: center;
  white-space: nowrap;
}

.pricing .pricing-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 58px;
}

.pricing .a-3 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  width: 58px;
}

.pricing .link-3 {
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
}

.pricing .join-us {
  align-items: flex-start;
  display: flex;
  margin-left: 326px;
  width: 214px;
}

.pricing .buttonbtnprimary-color {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.pricing .btn-text {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.pricing .icn-arrow-right-icn-xs {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.pricing .navbar-toggler {
  align-self: center;
  height: 14px;
  margin-left: 119px;
  margin-top: 0.71px;
  width: 24px;
}

.pricing .long-bold-logo-1 {
  height: 46px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 211px;
}

.pricing .container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1100px;
  left: 195px;
  padding: 22.0px 0;
  position: absolute;
  top: 105px;
  width: 1050px;
}

.pricing .row {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  overflow: hidden;
  width: 1049px;
}

.pricing .main-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 260px;
  overflow: hidden;
  padding: 40px 0;
  width: 1053px;
}

.pricing .h1-headline-sec {
  color: var(--text-color);
  font-weight: 700;
  line-height: 80px;
  min-height: 80px;
  text-align: center;
  white-space: nowrap;
  width: 1055px;
}

.pricing .h4-sub-headline-sec {
  color: var(--second-text-color);
  line-height: 30px;
  margin-left: 0.5px;
  margin-top: 40px;
  min-height: 60px;
  text-align: center;
  width: 1054px;
}

.pricing .version-xl-exce-e-pixel-slate-1 {
  height: 646px;
  margin-right: 69.97px;
  margin-top: 80px;
  object-fit: cover;
  width: 846px;
}

.pricing .pricing-table {
  align-items: center;
  background-color: var(--light-gray-1);
  display: flex;
  height: 900px;
  padding: 0 308px;
  width: 1440px;
}

.pricing .cloud {
  align-items: flex-start;
  background-color: var(--light-background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 680px;
  padding: 16px 12.0px;
  width: 380px;
}

.pricing .group-18 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 147px;
  width: 344px;
}

.pricing .place {
  color: var(--green-pea);
  font-family: var(--font-family-inter-extrabold);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  letter-spacing: -0.88px;
  margin-left: 6.0px;
  min-height: 27px;
  text-align: center;
  width: 64px;
}

.pricing .overlap-group-1 {
  height: 48px;
  margin-top: 24px;
  position: relative;
  width: 138px;
}

.pricing .price {
  color: var(--green-pea);
  font-family: var(--font-family-inter-semibold);
  font-size: 42px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 82px;
}

.pricing .month {
  color: var(--green-pea);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-m);
  left: 68px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.pricing .text-15 {
  align-self: flex-end;
  color: var(--green-pea);
  font-family: var(--font-family-inter-regular);
  font-size: var(--font-size-l);
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -2.0px;
  margin-top: 24px;
  min-height: 24px;
  white-space: nowrap;
  width: 334px;
}

.pricing .group-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30.0px;
  margin-top: 10px;
  min-height: 384px;
  width: 222px;
}

.pricing .group-13 {
  align-items: flex-start;
  display: flex;
  min-width: 159px;
}

.pricing .tick-square {
  height: 24px;
  width: 24px;
}

.pricing .version-control {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-12 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 105px;
}

.pricing .visibility {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-11 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 94px;
}

.pricing .hosted {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-15-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 10px;
  min-width: 103px;
}

.pricing .security {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 154px;
}

.pricing .authentication {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-16 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 157px;
}

.pricing .access-control {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .overlap-group2 {
  height: 62px;
  margin-left: 2px;
  margin-top: 12px;
  position: relative;
  width: 172px;
}

.pricing .group-17 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 142px;
  position: absolute;
  top: 0;
}

.pricing .api-access {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
  width: 106px;
}

.pricing .group-19 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 172px;
  position: absolute;
  top: 38px;
}

.pricing .usage-metrics {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .full-lineage {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .overlap-group1-1 {
  height: 60px;
  margin-left: 2px;
  margin-top: 12px;
  position: relative;
  width: 222px;
}

.pricing .group-20 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 222px;
  position: absolute;
  top: 0;
}

.pricing .audit-log-history {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
  width: 186px;
}

.pricing .group-21 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 196px;
  position: absolute;
  top: 36px;
}

.pricing .assigned-support {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .frame-19 {
  align-items: center;
  align-self: center;
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-top: 43px;
  min-width: 213px;
  padding: 0 49.5px;
}

.pricing .choose-cloud {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 112px;
  text-align: center;
  white-space: nowrap;
}

.pricing .enterprise {
  align-items: flex-start;
  background-color: var(--green-pea);
  border-radius: 15px;
  box-shadow: 0px 15px 20px #00000005 , 0px 5px 10px #00000005;
  display: flex;
  flex-direction: column;
  margin-left: 64px;
  min-height: 680px;
  padding: 24px;
  width: 380px;
}

.pricing .group-17-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 351px;
  width: 298px;
}

.pricing .place-1 {
  color: var(--light-background-color);
  font-family: var(--font-family-inter-extrabold);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  letter-spacing: -0.88px;
  min-height: 27px;
}

.pricing .contact-us {
  color: var(--faded-primary-color);
  font-family: var(--font-family-inter-semibold);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2px;
  margin-top: 36px;
  min-height: 20px;
  white-space: nowrap;
}

.pricing .group-15-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 238px;
  width: 296px;
}

.pricing .overlap-group1-2 {
  height: 96px;
  position: relative;
  width: 212px;
}

.pricing .group-12-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 155px;
  position: absolute;
  top: 36px;
}

.pricing .in-your-cloud {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.pricing .group-13-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 212px;
  position: absolute;
  top: 0;
}

.pricing .flexible-deployment {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.pricing .group-11-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 105px;
  position: absolute;
  top: 72px;
}

.pricing .on-prem {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .overlap-group-2 {
  height: 108px;
  margin-left: 2px;
  margin-top: 10px;
  position: relative;
  width: 296px;
}

.pricing .group-14 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 0;
  min-width: 195px;
  position: absolute;
  top: 36px;
}

.pricing .managed-directly {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 72px;
}

.pricing .group-15-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 151px;
  position: absolute;
  top: 0;
}

.pricing .custom-sla {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.pricing .group-16-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 296px;
  position: absolute;
  top: 72px;
}

.pricing .text-14 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .group-17-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  min-width: 153px;
}

.pricing .unlimited-uers {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.pricing .frame-20 {
  align-items: center;
  align-self: center;
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  margin-left: 27.0px;
  margin-top: 229px;
  min-width: 213px;
  padding: 0 32.5px;
}

.pricing .choose-enterprise {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  min-width: 146px;
  text-align: center;
  white-space: nowrap;
}

.pricing .google-partner {
  align-items: flex-end;
  background-color: var(--light-background-color);
  display: flex;
  height: 500px;
  overflow: hidden;
  padding: 0 195px;
  width: 1440px;
}

.pricing .container-2 {
  align-items: center;
  display: flex;
  height: 653px;
  margin-bottom: -153px;
  padding: 0 3px;
  width: 1050px;
}

.pricing .row-1 {
  align-items: flex-start;
  display: flex;
  width: 1044px;
}

.pricing .main-content-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 333px;
  overflow: hidden;
  width: 1044px;
}

.pricing .gc-partner-nooutline-h-1 {
  height: 178px;
  object-fit: cover;
  width: 376px;
}

.pricing .text-16 {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-top: 10px;
  min-height: 29px;
  width: 260px;
}

.pricing .paragraph-sec {
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 10px;
  min-height: 80px;
  width: 1046px;
}

.pricing .lear-more {
  align-items: center;
  display: flex;
  height: 16px;
  margin-top: 10px;
  width: 86px;
}

.pricing .h6 {
  color: var(--green-pea);
  line-height: 16px;
  min-height: 16px;
  min-width: 72px;
  white-space: nowrap;
}

.pricing .icon-arrow-next {
  height: 10px;
  margin-left: 8px;
  width: 6px;
}

.pricing .footer {
  align-items: flex-start;
  background-color: var(--light-gray-1);
  display: flex;
  width: 1440px;
}

.pricing .div {
  align-items: center;
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  padding: 7px 53px;
  width: 1440px;
}

.pricing .text-17 {
  align-self: flex-end;
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-left: 35px;
  min-height: 36px;
  width: 256px;
}

.pricing .overlap-group-3 {
  align-self: flex-end;
  height: 37px;
  margin-bottom: 1px;
  margin-left: 64px;
  position: relative;
  width: 466px;
}

.pricing .terms-of-service {
  color: var(--green-pea);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  width: 256px;
}

.pricing .text-18 {
  color: var(--green-pea);
  font-weight: 700;
  left: 210px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 256px;
}

.pricing .twitter {
  height: 30px;
  margin-left: 351px;
  margin-top: 2.0px;
  width: 30px;
}

.pricing .div-item {
  height: 30px;
  margin-left: 14px;
  margin-top: 2.0px;
  width: 30px;
}

.pricing .you-tube-play-button {
  height: 30px;
  margin-bottom: 2.0px;
  margin-left: 14px;
  width: 30px;
}
