/* screen - versionxl-demo */

.versionxl-demo {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  min-height: 4571px;
  overflow-x: hidden;
  width: 1440px;
}

.versionxl-demo .landing-page {
  align-items: flex-start;
  background-color: var(--light-gray-1);
  display: flex;
  width: 1440px;
}

.versionxl-demo .overlap-group5 {
  height: 900px;
  position: relative;
  width: 1440px;
}

.versionxl-demo .background {
  align-items: flex-start;
  display: flex;
  height: 900px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .overlap-group4 {
  height: 900px;
  position: relative;
  width: 1520px;
}

.versionxl-demo .hero-8-bg-shape-cover {
  align-items: flex-end;
  display: flex;
  height: 828px;
  left: 80px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .overlap-group2 {
  height: 853px;
  margin-bottom: -25px;
  position: relative;
  width: 1440px;
}

.versionxl-demo .overlap-group {
  height: 665px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .rectangle-10 {
  background-color: var(--light-gray-1);
  height: 612px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .rectangle-9 {
  background-color: #6fcf973d;
  border-radius: 50px;
  height: 476px;
  left: 735px;
  position: absolute;
  top: 189px;
  width: 483px;
}

.versionxl-demo .none {
  align-items: flex-start;
  display: flex;
  height: 757px;
  left: 520px;
  padding: 141.8px 0;
  position: absolute;
  top: 96px;
  width: 734px;
}

.versionxl-demo .overlap-group1 {
  height: 468px;
  position: relative;
  width: 721px;
}

.versionxl-demo .frame {
  align-items: flex-start;
  display: flex;
  height: 468px;
  left: 0;
  overflow: hidden;
  padding: 10.2px 0;
  position: absolute;
  top: 0;
  width: 667px;
}

.versionxl-demo .rectangle {
  height: 385px;
  margin-left: 254px;
  width: 413px;
}

.versionxl-demo .vector {
  height: 378px;
  left: 98px;
  position: absolute;
  top: 14px;
  width: 623px;
}

.versionxl-demo .vector-1 {
  height: 53px;
  left: 153px;
  position: absolute;
  top: 76px;
  width: 53px;
}

.versionxl-demo .filter {
  align-items: flex-end;
  display: flex;
  height: 900px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .overlap-group3 {
  align-items: center;
  background-color: #ececec33;
  display: flex;
  height: 185px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 132px;
}

.versionxl-demo .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 123px;
  width: 554px;
}

.versionxl-demo .h4-end-of-excel {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 24px;
  min-height: 35px;
  width: 554px;
}

.versionxl-demo .text-4 {
  color: var(--green-pea);
  font-family: var(--font-family-montserrat-semibold);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-top: 15px;
  min-height: 73px;
  width: 473px;
}

.versionxl-demo .white-paper-snippet {
  background-color: #ececec33;
  height: 150px;
  margin-left: 121px;
  margin-top: 17.0px;
  width: 491px;
}

.versionxl-demo .row {
  align-items: center;
  display: flex;
  height: 464px;
  left: 146px;
  position: absolute;
  top: 184px;
  width: 1171px;
}

.versionxl-demo .heading-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 355px;
  overflow: hidden;
  width: 542px;
}

.versionxl-demo .heading-title {
  color: var(--text-color);
  font-weight: 700;
  line-height: 80px;
  min-height: 160px;
  width: 544px;
}

.versionxl-demo .text-5 {
  color: #000000d1;
  line-height: 30px;
  margin-top: 35px;
  min-height: 73px;
  width: 544px;
}

.versionxl-demo .image-4 {
  height: 464px;
  margin-left: 30px;
  object-fit: cover;
  width: 599px;
}

.versionxl-demo .nav-bar-container {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 59px;
  padding: 0 20px;
  position: absolute;
  top: 1px;
  width: 1322px;
}

.versionxl-demo .nav-bar-container-1 {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 1216px;
}

.versionxl-demo .navbar-style-2-navbar-light {
  align-items: flex-end;
  display: flex;
  height: 91px;
  padding: 16px 0;
  width: 1322px;
}

.versionxl-demo .long-bold-logo-1 {
  height: 46px;
  margin-bottom: 3px;
  margin-left: 20px;
  object-fit: cover;
  width: 211px;
}

.versionxl-demo .collapse-navbar-collapse {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 194px;
  width: 797px;
}

.versionxl-demo .main-nav-bar {
  align-items: flex-start;
  display: flex;
  width: 275px;
}

.versionxl-demo .home {
  align-items: flex-start;
  display: flex;
  width: 43px;
}

.versionxl-demo .a {
  align-items: flex-start;
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.versionxl-demo .link {
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  min-height: 24px;
  min-width: 45px;
  text-align: center;
  white-space: nowrap;
}

.versionxl-demo .blog {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 59px;
}

.versionxl-demo .a-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  padding: 0 10px;
  width: 59px;
}

.versionxl-demo .link-1 {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 37px;
  text-align: center;
  white-space: nowrap;
}

.versionxl-demo .about {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 52px;
}

.versionxl-demo .a-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  width: 52px;
}

.versionxl-demo .link-2 {
  color: #828282;
  font-weight: 700;
  line-height: 24px;
  margin-left: 3px;
  min-height: 24px;
  min-width: 49px;
  text-align: center;
  white-space: nowrap;
}

.versionxl-demo .pricing {
  align-items: flex-start;
  display: flex;
  margin-left: 21px;
  width: 58px;
}

.versionxl-demo .a-3 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  width: 58px;
}

.versionxl-demo .link-3 {
  color: var(--second-text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 24px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
}

.versionxl-demo .join-us {
  align-items: flex-start;
  display: flex;
  margin-left: 369px;
  width: 153px;
}

.versionxl-demo .buttonbtnprimary-color {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.versionxl-demo .btn-text {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.versionxl-demo .icn-arrow-right-icn-xs {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.versionxl-demo .navbar-toggler {
  align-self: center;
  height: 14px;
  margin-left: 76px;
  margin-top: 0.71px;
  width: 24px;
}

.versionxl-demo .who-is-version-xl-for {
  align-items: flex-end;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 900px;
  margin-left: 0;
  overflow: hidden;
  padding: 0 144px;
  width: 1440px;
}

.versionxl-demo .row-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 2.0px;
  margin-top: 112px;
  width: 767px;
}

.versionxl-demo .main-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 181px;
  overflow: hidden;
  width: 767px;
}

.versionxl-demo .h3-section-title-se {
  color: var(--text-color);
  font-weight: 700;
  line-height: 50px;
  min-height: 50px;
  text-align: center;
  white-space: nowrap;
  width: 769px;
}

.versionxl-demo .paragraph-sec {
  color: var(--mine-shaft);
  line-height: 20px;
  margin-top: 10px;
  min-height: 147px;
  text-align: center;
  width: 765px;
}

.versionxl-demo .span0 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  letter-spacing: 0.03px;
}

.versionxl-demo .span1 {
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0.03px;
}

.versionxl-demo .row-2 {
  align-items: flex-start;
  display: flex;
  height: 508px;
  margin-top: 112px;
  min-width: 1150px;
}

.versionxl-demo .user-card-1 {
  align-items: center;
  background-color: var(--light-background-color);
  border-radius: 20px;
  box-shadow: 0px 13px 19px #00000012;
  display: flex;
  flex-direction: column;
  height: 450px;
  overflow: hidden;
  width: 238px;
}

.versionxl-demo .fixed-height-sec {
  align-items: flex-end;
  display: flex;
  height: 100px;
  overflow: hidden;
  width: 238px;
}

.versionxl-demo .user-cover-1-1 {
  align-items: flex-start;
  background-color: var(--concrete);
  display: flex;
  height: 231px;
  margin-bottom: -131px;
  padding: 0 51.5px;
  width: 238px;
}

.versionxl-demo .web-design-inc-4 {
  height: 119px;
  margin-top: -10px;
  object-fit: cover;
  width: 119px;
}

.versionxl-demo .card-content {
  align-items: center;
  display: flex;
  height: 108px;
  padding: 0 46px;
  width: 232px;
}

.versionxl-demo .h5-version-control {
  color: var(--text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 48px;
  min-width: 138px;
  text-align: center;
}

.versionxl-demo .text {
  color: var(--black);
  line-height: 20px;
  margin-left: 2.0px;
  min-height: 138px;
  text-align: center;
  width: 186px;
}

.versionxl-demo .user-card {
  align-items: center;
  background-color: var(--light-background-color);
  border-radius: 20px;
  box-shadow: 0px 13px 19px #00000012;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-left: 66px;
  overflow: hidden;
  width: 238px;
}

.versionxl-demo .user-cover-1 {
  align-items: flex-start;
  background-color: var(--concrete);
  display: flex;
  height: 231px;
  margin-bottom: -131px;
  padding: 0 59.5px;
  width: 238px;
}

.versionxl-demo .x29-1 {
  height: 119px;
  margin-top: -9px;
  object-fit: cover;
  width: 119px;
}

.versionxl-demo .card-content-1 {
  align-items: center;
  display: flex;
  height: 108px;
  padding: 0 56.5px;
  width: 232px;
}

.versionxl-demo .h5-collaboration {
  color: var(--text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 48px;
  min-width: 117px;
  text-align: center;
}

.versionxl-demo .x30-1 {
  height: 119px;
  margin-top: -8px;
  object-fit: cover;
  width: 119px;
}

.versionxl-demo .card-content-2 {
  align-items: center;
  display: flex;
  height: 108px;
  padding: 0 77.5px;
  width: 232px;
}

.versionxl-demo .h5-version-control-1 {
  color: var(--text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 48px;
  min-width: 75px;
  text-align: center;
}

.versionxl-demo .x31-1 {
  height: 119px;
  margin-top: -8px;
  object-fit: cover;
  width: 119px;
}

.versionxl-demo .card-content-3 {
  align-items: center;
  display: flex;
  height: 108px;
  padding: 0 76.5px;
  width: 232px;
}

.versionxl-demo .h5-version-control-2 {
  color: var(--text-color);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 48px;
  min-width: 77px;
  text-align: center;
}

.versionxl-demo .say-good-bye {
  align-items: flex-end;
  background-color: var(--light-gray-1);
  display: flex;
  height: 900px;
  margin-left: 0;
  overflow: hidden;
  padding: 90.7px 0;
  width: 1440px;
}

.versionxl-demo .overlap-group6 {
  height: 709px;
  margin-left: 145px;
  position: relative;
  width: 1659px;
}

.versionxl-demo .container {
  align-items: flex-end;
  display: flex;
  height: 709px;
  left: 0;
  padding: 159.7px 0;
  position: absolute;
  top: 0;
  width: 1155px;
}

.versionxl-demo .overlap-group-1 {
  height: 390px;
  position: relative;
  width: 1155px;
}

.versionxl-demo .row-3 {
  align-items: center;
  display: flex;
  height: 336px;
  left: 0;
  min-width: 1155px;
  position: absolute;
  top: 0;
}

.versionxl-demo .contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 336px;
  overflow: hidden;
  width: 643px;
}

.versionxl-demo .fixed-width-fixed-height-sec {
  background-color: var(--green-pea);
  height: 7px;
  width: 94px;
}

.versionxl-demo .h2-say-good-bye {
  color: var(--text-color);
  font-weight: 700;
  line-height: 50px;
  margin-top: 35px;
  min-height: 100px;
  width: 645px;
}

.versionxl-demo .paragraph-sec-1 {
  color: var(--mine-shaft);
  line-height: 20px;
  margin-top: 35px;
  min-height: 100px;
}

.versionxl-demo .pricing-1 {
  align-items: center;
  display: flex;
  height: 24px;
  margin-top: 35px;
  width: 152px;
}

.versionxl-demo .h6 {
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  min-height: 24px;
  min-width: 135px;
  white-space: nowrap;
}

.versionxl-demo .icon-arrow-next {
  height: 16px;
  margin-left: 8px;
  width: 9px;
}

.versionxl-demo .rectangle-52 {
  height: 54px;
  margin-bottom: 0;
  margin-left: 30px;
  width: 54px;
}

.versionxl-demo .rectangle-53 {
  height: 54px;
  left: 550px;
  position: absolute;
  top: 336px;
  width: 55px;
}

.versionxl-demo .col-md-6 {
  align-items: flex-start;
  display: flex;
  height: 424px;
  left: 659px;
  position: absolute;
  top: 120px;
  width: 1000px;
}

.versionxl-demo .thumb-concept-7 {
  align-items: flex-end;
  display: flex;
  height: 424px;
  overflow: hidden;
  width: 620px;
}

.versionxl-demo .overlap-group-2 {
  height: 450px;
  margin-bottom: -34.64px;
  margin-left: 6px;
  position: relative;
  width: 614px;
}

.versionxl-demo .rectangle-51 {
  height: 436px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 419px;
}

.versionxl-demo .rectangle-53-1 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 415px;
  width: 59px;
}

.versionxl-demo .version-xl-dashboard-macbook-1 {
  height: 400px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 614px;
}

.versionxl-demo .steps {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  height: 960px;
  margin-left: 0;
  overflow: hidden;
  width: 1440px;
}

.versionxl-demo .overlap-group7 {
  height: 900px;
  margin-left: -113px;
  position: relative;
  width: 1762px;
}

.versionxl-demo .container-1 {
  align-items: flex-start;
  display: flex;
  height: 881px;
  left: 113px;
  padding: 160px 145px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .heading {
  align-items: flex-start;
  display: flex;
  width: 1150px;
}

.versionxl-demo .main-content-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 190px;
  overflow: hidden;
  width: 1044px;
}

.versionxl-demo .h2-version-excel-solv {
  color: var(--text-color);
  font-weight: 700;
  line-height: 50px;
  min-height: 100px;
  text-align: center;
  width: 1046px;
}

.versionxl-demo .paragraph-sec-2 {
  color: var(--mine-shaft);
  line-height: 20px;
  margin-top: 10px;
  min-height: 80px;
  text-align: center;
  width: 1046px;
}

.versionxl-demo .row-4 {
  align-items: flex-start;
  display: flex;
  height: 550px;
  left: 0;
  min-width: 1762px;
  padding: 0 353.5px;
  position: absolute;
  top: 350px;
}

.versionxl-demo .card {
  align-items: flex-start;
  background-color: var(--light-background-color);
  box-shadow: 0px 13px 19px #00000012;
  display: flex;
  flex-direction: column;
  height: 525px;
  padding: 13px 38px;
  width: 338px;
}

.versionxl-demo .x33-1 {
  height: 65px;
  margin-left: 2px;
  margin-top: 22px;
  object-fit: cover;
  width: 85px;
}

.versionxl-demo .step-1 {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: -2px;
  margin-left: 2px;
  margin-top: 20px;
  min-height: 22px;
  white-space: nowrap;
}

.versionxl-demo .h5-feature-title-se {
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  margin-top: 20px;
  min-height: 48px;
}

.versionxl-demo .fixed-width-fixed-height-sec-1 {
  background-color: var(--green-pea);
  height: 2px;
  margin-left: 2px;
  margin-top: 20px;
  width: 50px;
}

.versionxl-demo .paragraph-feature-de {
  align-self: flex-end;
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 20px;
  min-height: 260px;
  min-width: 260px;
}

.versionxl-demo .card-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  box-shadow: 0px 13px 19px #00000012;
  display: flex;
  flex-direction: column;
  height: 527px;
  margin-left: 30px;
  padding: 35px 20px;
  width: 328px;
}

.versionxl-demo .x34-1 {
  height: 65px;
  margin-left: 20px;
  object-fit: cover;
  width: 85px;
}

.versionxl-demo .step-2 {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: -2px;
  margin-left: 20px;
  margin-top: 20px;
  min-height: 22px;
  white-space: nowrap;
}

.versionxl-demo .h5-feature-title-se-1 {
  align-self: center;
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-right: 21.0px;
  margin-top: 20px;
  min-height: 48px;
  min-width: 227px;
}

.versionxl-demo .fixed-width-fixed-height-sec-2 {
  background-color: var(--green-pea);
  height: 2px;
  margin-left: 20px;
  margin-top: 20px;
  width: 50px;
}

.versionxl-demo .paragraph-feature-de-1 {
  align-self: flex-end;
  color: var(--second-text-color);
  height: 240px;
  line-height: 20px;
  margin-top: 20px;
  width: 268px;
}

.versionxl-demo .card-2 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  box-shadow: 0px 13px 19px #00000012;
  display: flex;
  flex-direction: column;
  height: 527px;
  margin-left: 30px;
  padding: 35px 15px;
  width: 329px;
}

.versionxl-demo .x36-1 {
  height: 65px;
  margin-left: 25px;
  object-fit: cover;
  width: 85px;
}

.versionxl-demo .step-3 {
  color: var(--black);
  font-weight: 700;
  line-height: 24px;
  margin-bottom: -2px;
  margin-left: 25px;
  margin-top: 20px;
  min-height: 22px;
  white-space: nowrap;
}

.versionxl-demo .h5-feature-title-se-2 {
  align-self: center;
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-right: 3.0px;
  margin-top: 20px;
  min-height: 48px;
  min-width: 246px;
}

.versionxl-demo .fixed-width-fixed-height-sec-3 {
  background-color: var(--green-pea);
  height: 2px;
  margin-left: 25px;
  margin-top: 20px;
  width: 50px;
}

.versionxl-demo .paragraph-feature-de-2 {
  align-self: flex-end;
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 20px;
  min-height: 140px;
  width: 274px;
}

.versionxl-demo .overlap-group8 {
  height: 911px;
  margin-left: 0;
  position: relative;
  width: 1440px;
}

.versionxl-demo .video {
  align-items: flex-start;
  background-color: var(--light-gray-1);
  display: flex;
  height: 900px;
  left: 0;
  padding: 0 195px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.versionxl-demo .container-2 {
  align-items: center;
  display: flex;
  height: 440px;
  padding: 0 179px;
  width: 1050px;
}

.versionxl-demo .row-5 {
  align-items: flex-start;
  display: flex;
  padding: 0 0.5px;
  width: 692px;
}

.versionxl-demo .main-content-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 0 63px;
  width: 691px;
}

.versionxl-demo .text-10 {
  align-self: center;
  color: var(--black);
  font-weight: 700;
  line-height: 50px;
  margin-left: 2.0px;
  min-height: 50px;
  min-width: 544px;
  text-align: center;
  white-space: nowrap;
}

.versionxl-demo .text-11 {
  color: var(--black);
  line-height: 20px;
  margin-top: 10px;
  min-height: 60px;
  min-width: 563px;
  text-align: center;
}

.versionxl-demo .footer {
  align-items: flex-start;
  background-color: var(--light-gray-1);
  display: flex;
  height: 74px;
  left: 0;
  position: absolute;
  top: 837px;
  width: 1440px;
}

.versionxl-demo .div {
  align-items: center;
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  padding: 7px 143px;
  width: 1440px;
}

.versionxl-demo .text-12 {
  align-self: flex-end;
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-left: 2px;
  min-height: 36px;
  width: 262px;
}

.versionxl-demo .overlap-group-3 {
  align-self: flex-end;
  height: 37px;
  margin-bottom: 1px;
  margin-left: 65px;
  position: relative;
  width: 475px;
}

.versionxl-demo .terms-of-service {
  color: var(--green-pea);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  width: 260px;
}

.versionxl-demo .text-13 {
  color: var(--green-pea);
  font-weight: 700;
  left: 213px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 262px;
}

.versionxl-demo .twitter {
  height: 30px;
  margin-left: 188px;
  margin-top: 2.0px;
  width: 30px;
}

.versionxl-demo .div-item {
  height: 30px;
  margin-left: 14px;
  margin-top: 2.0px;
  width: 30px;
}

.versionxl-demo .you-tube-play-button {
  height: 30px;
  margin-bottom: 2.0px;
  margin-left: 14px;
  width: 30px;
}
