/* screen - android-1 */

.android-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 2427px;
  overflow: hidden;
  width: 360px;
}

.android-1 .nav-bar-container {
  background-color: var(--light-background-color);
  display: flex;
  height: 47px;
  margin-left: 1px;
  overflow: hidden;
  width: 360px;
}

.android-1 .menu-rounded {
  height: 21px;
  margin-left: 11px;
  margin-top: 17px;
  pointer-events: auto;
  transition: all 0.2s ease;
  width: 27px;
}

.android-1 .menu-rounded:hover {
  background-color: #31a063
}

.android-1 .long-bold-logo-1 {
  height: 41px;
  margin-left: 215px;
  margin-top: 10px;
  object-fit: cover;
  width: 128px;
}

.android-1 .overlap-group4 {
  height: 1812px;
  margin-left: -2px;
  position: relative;
  width: 362px;
}

.android-1 .landing-page {
  display: flex;
  height: 498px;
  left: 0;
  position: absolute;
  top: 0;
  width: 362px;
}

.android-1 .frame-21 {
  display: flex;
  height: 458px;
  margin-top: 20px;
  width: 362px;
}

.android-1 .container {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 15px;
}

.android-1 .main-content {
  display: flex;
  flex-direction: column;
  height: 433px;
  width: 362px;
}

.android-1 .h1-headline-sec {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 38px;
  font-weight: 700;
  height: 79px;
  letter-spacing: 0.20px;
  line-height: 80px;
  margin-left: 44.5px;
  text-align: center;
  white-space: nowrap;
  width: 275px;
}

.android-1 .h4-sub-headline-sec {
  color: var(--second-text-color);
  height: 65px;
  line-height: 30px;
  margin-left: 24.5px;
  margin-top: 20px;
  text-align: center;
  width: 315px;
}

.android-1 .version-xl-exce-e-pixel-slate-1 {
  height: 238.5px;
  margin-left: 17.2px;
  margin-top: 13.3px;
  object-fit: cover;
  width: 326.5px;
}

.android-1 .pricing-table {
  background-color: var(--light-gray-1);
  display: flex;
  flex-direction: column;
  height: 1324px;
  left: 2px;
  position: absolute;
  top: 488px;
  width: 360px;
}

.android-1 .cloud {
  align-items: flex-end;
  background-color: var(--light-background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  margin-top: 60px;
  min-height: 677px;
  padding: 16px 5.1px;
  width: 322px;
}

.android-1 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 548px;
  width: 308px;
}

.android-1 .group-18 {
  display: flex;
  width: 297px;
}

.android-1 .group-6 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 147px;
}

.android-1 .place {
  letter-spacing: -0.88px;
  text-align: center;
}

.android-1 .group-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: 3.63%;
  margin-right: 33.09%;
  margin-top: 24px;
  max-height: 72px;
  min-width: 63.28%;
}

.android-1 .overlap-group {
  height: 72px;
  position: relative;
  width: 189px;
}

.android-1 .price {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 91px;
}

.android-1 .user-month {
  left: 81px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 19px;
  white-space: nowrap;
}

.android-1 .text-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 5.34%;
  margin-right: 0.66%;
  max-height: 24px;
  white-space: nowrap;
}

.android-1 .group-15 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  min-height: 391px;
  width: 275px;
}

.android-1 .group-13 {
  align-items: flex-start;
  display: flex;
  min-width: 263px;
}

.android-1 .tick-square {
  height: 24px;
  width: 24px;
}

.android-1 .version-control {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .group-12 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 128px;
}

.android-1 .visibility {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .group-11 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 144px;
}

.android-1 .hosted {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .group-15-1 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 10px;
  min-width: 126px;
}

.android-1 .security {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .group-14 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 170px;
}

.android-1 .authentication {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .group-16 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 166px;
}

.android-1 .access-control {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 24px;
  white-space: nowrap;
}

.android-1 .overlap-group1 {
  height: 146px;
  margin-left: 2px;
  margin-top: 12px;
  position: relative;
  width: 275px;
}

.android-1 .group-17 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 154px;
  position: absolute;
  top: 0;
}

.android-1 .api-access {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 48px;
  width: 120px;
}

.android-1 .group-18-1 {
  align-items: flex-start;
  display: flex;
  height: 38px;
  left: 0;
  min-width: 206px;
  position: absolute;
  top: 74px;
}

.android-1 .full-lineage {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 38px;
  width: 172px;
}

.android-1 .group-19 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 245px;
  position: absolute;
  top: 38px;
}

.android-1 .usage-metrics {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 48px;
  width: 211px;
}

.android-1 .group-20 {
  align-items: flex-start;
  display: flex;
  height: 36px;
  left: 0;
  min-width: 275px;
  position: absolute;
  top: 110px;
}

.android-1 .audit-log-history {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 36px;
  width: 241px;
}

.android-1 .group-21 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  margin-left: 2px;
  min-width: 269px;
}

.android-1 .assigned-support {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 31px;
  width: 235px;
}

.android-1 .frame-19 {
  align-self: center;
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-right: 5.0px;
  margin-top: 31px;
  width: 213px;
}

.android-1 .get-demo {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 29.11%;
  margin-right: 28.17%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 91px;
}

.android-1 .enterprise {
  background-color: var(--green-pea);
  border-radius: 15px;
  box-shadow: 0px 15px 20px #00000005 , 0px 5px 10px #00000005;
  display: flex;
  flex-direction: column;
  height: 477px;
  margin-left: 19px;
  margin-top: 33px;
  width: 322px;
}

.android-1 .group-17-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 7.45%;
  margin-right: 4.38%;
  margin-top: 16px;
  max-height: 354px;
  min-height: 354px;
}

.android-1 .place-1 {
  letter-spacing: -0.88px;
  margin-left: 5.18px;
  min-height: 33px;
  width: 133px;
}

.android-1 .group-5 {
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  width: 261px;
}

.android-1 .contact-us {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 261px;
}

.android-1 .group-15-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  min-height: 261px;
  width: 282px;
}

.android-1 .group-13-1 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  min-width: 277px;
}

.android-1 .flexible-deployment {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13px;
  min-height: 30px;
  width: 239px;
}

.android-1 .overlap-group-1 {
  height: 60px;
  margin-top: 6px;
  position: relative;
  width: 236px;
}

.android-1 .group-12-1 {
  align-items: flex-start;
  display: flex;
  height: 54px;
  left: 0;
  min-width: 236px;
  position: absolute;
  top: 0;
}

.android-1 .in-your-cloud {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13px;
  min-height: 54px;
  width: 198px;
}

.android-1 .group-11-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 213px;
  position: absolute;
  top: 36px;
}

.android-1 .on-prem {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 13px;
  min-height: 22px;
  white-space: nowrap;
}

.android-1 .overlap-group1-1 {
  height: 67px;
  margin-left: 2px;
  margin-top: 10px;
  position: relative;
  width: 271px;
}

.android-1 .group-14-1 {
  align-items: flex-start;
  display: flex;
  height: 31px;
  left: 0;
  min-width: 271px;
  position: absolute;
  top: 36px;
}

.android-1 .managed-directly {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 31px;
  width: 234px;
}

.android-1 .group-15-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 220px;
  position: absolute;
  top: 0;
}

.android-1 .custom-sla {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
  width: 183px;
}

.android-1 .overlap-group2 {
  height: 83px;
  margin-left: 2px;
  margin-top: 5px;
  position: relative;
  width: 282px;
}

.android-1 .group-16-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 282px;
  position: absolute;
  top: 0;
}

.android-1 .text-2 {
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 12px;
  min-height: 48px;
  width: 246px;
}

.android-1 .group-17-2 {
  align-items: flex-start;
  display: flex;
  height: 47px;
  left: 0;
  min-width: 209px;
  position: absolute;
  top: 36px;
}

.android-1 .unlimited-uers {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 47px;
  width: 173px;
}

.android-1 .frame-20 {
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-left: 45px;
  margin-top: 14px;
  width: 213px;
}

.android-1 .get-demo-1 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 30.28%;
  margin-right: 29.34%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 86px;
}

.android-1 .overlap-group3 {
  height: 576px;
  position: relative;
  width: 360px;
}

.android-1 .google-partner {
  background-color: var(--light-background-color);
  display: flex;
  height: 460px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.android-1 .container-1 {
  display: flex;
  height: 460px;
  justify-content: center;
  width: 360px;
}

.android-1 .row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 320px;
}

.android-1 .main-content-1 {
  display: flex;
  flex-direction: column;
  height: 360px;
  overflow: hidden;
  width: 320px;
}

.android-1 .gc-partner-nooutline-h-1 {
  object-fit: cover;
}

.android-1 .text-3 {
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-top: 10px;
}

.android-1 .paragraph-sec {
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 10px;
}

.android-1 .lear-more {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.android-1 .h6 {
  color: var(--green-pea);
  line-height: 16px;
  min-height: 16px;
  min-width: 72px;
  white-space: nowrap;
}

.android-1 .icon-arrow-next {
  height: 9px;
  margin-left: 8px;
  width: 6px;
}

.android-1 .footer {
  background-color: var(--light-gray-1);
  display: flex;
  height: 153px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 423px;
  width: 360px;
}

.android-1 .div {
  align-items: flex-start;
  background-color: var(--faded-primary-color);
  display: flex;
  flex-direction: column;
  height: 151px;
  padding: 12px 40px;
  width: 360px;
}

.android-1 .text-4 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-bottom: -1px;
  min-height: 23px;
  white-space: nowrap;
}

.android-1 .terms-of-service {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 12px;
  min-height: 26px;
  white-space: nowrap;
}

.android-1 .text-5 {
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-top: 8px;
  min-height: 25px;
  white-space: nowrap;
}

.android-1 .flex-row {
  align-items: flex-start;
  display: flex;
  margin-top: 9px;
  min-width: 136px;
}

.android-1 .twitter {
  height: 21px;
  width: 25px;
}

.android-1 .flex-row-item {
  height: 21px;
  margin-left: 12px;
  width: 25px;
}
/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 2693px;
  overflow: hidden;
  width: 1440px;
}

.desktop-1 .landing-page-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  display: flex;
  width: 1440px;
}

.desktop-1 .overlap-group1-2 {
  height: 1145px;
  position: relative;
  width: 1440px;
}

.desktop-1 .rectangle-1 {
  height: 571px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-1 .container-2 {
  align-items: center;
  display: flex;
  height: 91px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 1439px;
}

.desktop-1 .nav-bar-container-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-left: -58px;
  margin-right: -59px;
  margin-top: -45.5px;
  padding: 0 70px;
}

.desktop-1 .overlap-group-2 {
  height: 91px;
  position: relative;
  width: 1369px;
}

.desktop-1 .navbar-style-2-navbar-light {
  align-items: flex-start;
  display: flex;
  height: 91px;
  left: 47px;
  padding: 16px 0;
  position: absolute;
  top: 0;
  width: 1322px;
}

.desktop-1 .collapse-navbar-collapse {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 364px;
  width: 815px;
}

.desktop-1 .main-nav-bar {
  display: flex;
  height: 24px;
  width: 275px;
}

.desktop-1 .home {
  display: flex;
}

.desktop-1 .a {
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.desktop-1 .link {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 45px;
}

.desktop-1 .main-nav-bar-item {
  display: flex;
  margin-left: 21px;
}

.desktop-1 .a-1 {
  display: flex;
  height: 24px;
  width: 59px;
}

.desktop-1 .link-1 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20.34%;
  margin-right: 16.95%;
  text-align: center;
  white-space: nowrap;
  width: 37px;
}

.desktop-1 .a-2 {
  display: flex;
  height: 24px;
  width: 52px;
}

.desktop-1 .link-2 {
  color: #828282;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 49px;
}

.desktop-1 .a-3 {
  display: flex;
  height: 24px;
  width: 58px;
}

.desktop-1 .link-3 {
  color: var(--green-pea);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.desktop-1 .cta {
  display: flex;
  margin-left: 326px;
  width: 214px;
}

.desktop-1 .join-us {
  display: flex;
  width: 214px;
}

.desktop-1 .buttonbtnprimary-color {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.desktop-1 .btn-text {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.desktop-1 .icn-arrow-right-icn-xs {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.desktop-1 .navbar-toggler {
  align-self: center;
  height: 14px;
  margin-left: 119px;
  margin-top: 0.71px;
  width: 24px;
}

.desktop-1 .long-bold-logo-1-1 {
  height: 46px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 211px;
}

.desktop-1 .container-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1040px;
  left: 195px;
  padding: 17.0px 0;
  position: absolute;
  top: 105px;
  width: 1052px;
}

.desktop-1 .row-1 {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  overflow: hidden;
  width: 1052px;
}

.desktop-1 .main-content-2 {
  display: flex;
  flex-direction: column;
  height: 260px;
  overflow: hidden;
  width: 1053px;
}

.desktop-1 .h1-headline-sec-1 {
  color: var(--text-color);
  line-height: 80px;
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
}

.desktop-1 .h4-sub-headline-sec-1 {
  color: var(--second-text-color);
  height: 60px;
  line-height: 30px;
  margin-left: 0.5px;
  margin-top: 40px;
  text-align: center;
  width: 1054px;
}

.desktop-1 .version-xl-exce-e-pixel-slate-1-1 {
  height: 646px;
  margin-right: 69.97px;
  margin-top: 30px;
  object-fit: cover;
  width: 846px;
}

.desktop-1 .overlap-group2-1 {
  height: 1454px;
  margin-left: -1px;
  margin-top: 20px;
  position: relative;
  width: 1441px;
}

.desktop-1 .pricing-table-1 {
  align-items: center;
  background-color: var(--light-gray-1);
  display: flex;
  height: 900px;
  justify-content: flex-end;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.desktop-1 .group-19-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 308px;
  margin-top: -340px;
  min-width: 824px;
}

.desktop-1 .cloud-1 {
  align-items: flex-start;
  background-color: var(--light-background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 680px;
  padding: 16px 11px;
  width: 380px;
}

.desktop-1 .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 541px;
  width: 351px;
}

.desktop-1 .group-18-2 {
  display: flex;
  width: 351px;
}

.desktop-1 .group-6-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 147px;
}

.desktop-1 .place-2 {
  letter-spacing: -0.88px;
  text-align: center;
}

.desktop-1 .group-4-1 {
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 3.66%;
  margin-right: 39.44%;
  margin-top: 24px;
  max-height: 48px;
  min-width: 56.90%;
}

.desktop-1 .price-1 {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 48px;
  text-align: center;
  white-space: nowrap;
  width: 82px;
}

.desktop-1 .user-month-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10.0px;
  min-height: 20px;
  min-width: 108px;
  text-align: center;
  white-space: nowrap;
}

.desktop-1 .text-7 {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 5.35%;
  margin-right: 0.56%;
  margin-top: 24px;
  max-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-15-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  margin-top: 10px;
  min-height: 384px;
  width: 222px;
}

.desktop-1 .group-13-2 {
  align-items: flex-start;
  display: flex;
  min-width: 179px;
}

.desktop-1 .tick-square-1 {
  height: 24px;
  width: 24px;
}

.desktop-1 .version-control-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-12-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 146px;
}

.desktop-1 .visibility-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-11-2 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 165px;
}

.desktop-1 .hosted-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-15-5 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 10px;
  min-width: 144px;
}

.desktop-1 .security-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-14-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 196px;
}

.desktop-1 .authentication-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-16-2 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 192px;
}

.desktop-1 .access-control-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .overlap-group-3 {
  height: 62px;
  margin-left: 2px;
  margin-top: 12px;
  position: relative;
  width: 177px;
}

.desktop-1 .group-17-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 177px;
  position: absolute;
  top: 0;
}

.desktop-1 .api-access-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
  width: 141px;
}

.desktop-1 .group-19-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 172px;
  position: absolute;
  top: 38px;
}

.desktop-1 .usage-metrics-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-18-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  margin-top: 12px;
  min-width: 154px;
}

.desktop-1 .full-lineage-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .overlap-group1-3 {
  height: 60px;
  margin-left: 2px;
  margin-top: 12px;
  position: relative;
  width: 222px;
}

.desktop-1 .group-20-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 222px;
  position: absolute;
  top: 0;
}

.desktop-1 .audit-log-history-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
  width: 186px;
}

.desktop-1 .group-21-1 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 196px;
  position: absolute;
  top: 36px;
}

.desktop-1 .assigned-support-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .frame-19-1 {
  align-self: center;
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-left: 1.0px;
  margin-top: 35px;
  width: 213px;
}

.desktop-1 .get-demo-2 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 29.11%;
  margin-right: 28.17%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 91px;
}

.desktop-1 .enterprise-1 {
  background-color: var(--green-pea);
  border-radius: 15px;
  box-shadow: 0px 15px 20px #00000005 , 0px 5px 10px #00000005;
  display: flex;
  flex-direction: column;
  height: 680px;
  margin-left: 64px;
  width: 380px;
}

.desktop-1 .group-17-4 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 6.32%;
  margin-right: 9.74%;
  margin-top: 16px;
  max-height: 391px;
  min-height: 391px;
}

.desktop-1 .place-3 {
  letter-spacing: -0.88px;
  margin-left: 11px;
  min-height: 27px;
}

.desktop-1 .group-5-1 {
  display: flex;
  margin-left: 11px;
  margin-top: 32px;
  width: 261px;
}

.desktop-1 .contact-us-1 {
  height: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 261px;
}

.desktop-1 .group-15-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  min-height: 238px;
  width: 317px;
}

.desktop-1 .overlap-group-4 {
  height: 96px;
  position: relative;
  width: 214px;
}

.desktop-1 .group-12-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 151px;
  position: absolute;
  top: 36px;
}

.desktop-1 .in-your-cloud-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.desktop-1 .group-13-3 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 214px;
  position: absolute;
  top: 0;
}

.desktop-1 .flexible-deployment-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.desktop-1 .group-11-3 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 112px;
  position: absolute;
  top: 72px;
}

.desktop-1 .on-prem-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .overlap-group1-4 {
  height: 108px;
  margin-left: 2px;
  margin-top: 10px;
  position: relative;
  width: 317px;
}

.desktop-1 .group-14-3 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  left: 0;
  min-width: 194px;
  position: absolute;
  top: 36px;
}

.desktop-1 .managed-directly-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 72px;
}

.desktop-1 .group-15-7 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 143px;
  position: absolute;
  top: 0;
}

.desktop-1 .custom-sla-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 48px;
}

.desktop-1 .group-16-3 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 317px;
  position: absolute;
  top: 72px;
}

.desktop-1 .text-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .group-17-5 {
  align-items: flex-start;
  display: flex;
  margin-left: 2px;
  min-width: 162px;
}

.desktop-1 .unlimited-uers-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 12px;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-1 .frame-20-1 {
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-left: 97px;
  margin-top: 185px;
  width: 213px;
}

.desktop-1 .get-demo-3 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 30.28%;
  margin-right: 29.34%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 86px;
}

.desktop-1 .google-partner-1 {
  align-items: center;
  background-color: var(--light-background-color);
  display: flex;
  height: 574px;
  left: 0;
  position: absolute;
  top: 880px;
  width: 1440px;
}

.desktop-1 .container-4 {
  display: flex;
  flex: 1;
  height: 574px;
  justify-content: center;
  margin-top: -287px;
}

.desktop-1 .row-2 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
  width: 1044px;
}

.desktop-1 .main-content-3 {
  display: flex;
  flex-direction: column;
  height: 484px;
  overflow: hidden;
  width: 1044px;
}

.desktop-1 .gc-partner-nooutline-h-1-1 {
  object-fit: cover;
}

.desktop-1 .text-8 {
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-top: 10px;
}

.desktop-1 .paragraph-sec-1 {
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 10px;
}

.desktop-1 .lear-more-1 {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.desktop-1 .h6-1 {
  color: var(--green-pea);
  line-height: 16px;
  min-height: 16px;
  min-width: 72px;
  white-space: nowrap;
}

.desktop-1 .icon-arrow-next-1 {
  height: 9px;
  margin-left: 8px;
  width: 6px;
}

.desktop-1 .footer-1 {
  background-color: var(--light-gray-1);
  display: flex;
  height: 84px;
  justify-content: center;
  width: 1440px;
}

.desktop-1 .div-1 {
  align-items: center;
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  padding: 7px 53px;
  width: 1440px;
}

.desktop-1 .text-9 {
  align-self: flex-end;
  color: var(--green-pea);
  font-weight: 700;
  line-height: 24px;
  margin-left: 35px;
  min-height: 36px;
  width: 256px;
}

.desktop-1 .overlap-group-5 {
  align-self: flex-end;
  height: 37px;
  margin-bottom: 1px;
  margin-left: 64px;
  position: relative;
  width: 466px;
}

.desktop-1 .terms-of-service-1 {
  color: var(--green-pea);
  font-weight: 700;
  left: 0;
  line-height: 24px;
  position: absolute;
  top: 1px;
  width: 256px;
}

.desktop-1 .text-10 {
  color: var(--green-pea);
  font-weight: 700;
  left: 210px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 256px;
}

.desktop-1 .twitter-1 {
  height: 30px;
  margin-left: 351px;
  margin-top: 2.0px;
  width: 30px;
}

.desktop-1 .div-item {
  height: 30px;
  margin-left: 14px;
  margin-top: 2.0px;
  width: 30px;
}

.desktop-1 .you-tube-play-button {
  height: 30px;
  margin-bottom: 2.0px;
  margin-left: 14px;
  width: 30px;
}
/* screen - ipad-mini-1 */

.ipad-mini-1 {
  background-color: var(--light-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 2284px;
  min-width: 768px;
  overflow: hidden;
  width: 100%;
}

.ipad-mini-1 .landing-page-2 {
  align-items: flex-end;
  background-color: var(--light-background-color);
  display: flex;
  margin-top: -1px;
  overflow: hidden;
}

.ipad-mini-1 .overlap-group-6 {
  height: 919px;
  margin-bottom: -44px;
  margin-left: -2px;
  position: relative;
  width: 770px;
}

.ipad-mini-1 .rectangle-1-1 {
  height: 445px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 768px;
}

.ipad-mini-1 .container-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 919px;
  left: 2px;
  padding: 92.0px 0;
  position: absolute;
  top: 0;
  width: 768px;
}

.ipad-mini-1 .row-3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 768px;
}

.ipad-mini-1 .main-content-4 {
  display: flex;
  flex-direction: column;
  height: 160px;
  overflow: hidden;
  width: 768px;
}

.ipad-mini-1 .h1-headline-sec-2 {
  color: var(--text-color);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.20px;
  line-height: 50px;
  margin-top: 30px;
  text-align: center;
  white-space: nowrap;
}

.ipad-mini-1 .h4-sub-headline-sec-2 {
  color: var(--second-text-color);
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
}

.ipad-mini-1 .version-xl-exce-e-pixel-slate-1-2 {
  height: 535px;
  margin-left: 14.01px;
  margin-top: 9px;
  object-fit: cover;
  width: 670px;
}

.ipad-mini-1 .nav-bar-container-2 {
  display: flex;
  height: 91px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 766px;
}

.ipad-mini-1 .nav-bar-container-3 {
  display: flex;
  justify-content: center;
  width: 766px;
}

.ipad-mini-1 .navbar-style-2-navbar-light-1 {
  align-items: flex-end;
  display: flex;
  height: 91px;
  margin-left: 1px;
  overflow: hidden;
  padding: 16px 0;
  width: 688px;
}

.ipad-mini-1 .long-bold-logo-1-2 {
  height: 46px;
  margin-bottom: 1px;
  margin-left: -50px;
  object-fit: cover;
  width: 211px;
}

.ipad-mini-1 .collapse-navbar-collapse-1 {
  align-items: center;
  display: flex;
  height: 58px;
  margin-left: 23px;
  width: 503px;
}

.ipad-mini-1 .main-nav-bar-1 {
  display: flex;
  height: 24px;
  width: 275px;
}

.ipad-mini-1 .home-1 {
  display: flex;
}

.ipad-mini-1 .a-4 {
  display: flex;
  height: 24px;
  overflow: hidden;
  width: 43px;
}

.ipad-mini-1 .link-4 {
  color: var(--green-pea);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 45px;
}

.ipad-mini-1 .main-nav-bar-item-1 {
  display: flex;
  margin-left: 21px;
}

.ipad-mini-1 .a-5 {
  display: flex;
  height: 24px;
  width: 59px;
}

.ipad-mini-1 .link-5 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  margin-left: 20.34%;
  margin-right: 16.95%;
  text-align: center;
  white-space: nowrap;
  width: 37px;
}

.ipad-mini-1 .a-6 {
  display: flex;
  height: 24px;
  width: 52px;
}

.ipad-mini-1 .link-6 {
  color: #828282;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 49px;
}

.ipad-mini-1 .a-7 {
  display: flex;
  height: 24px;
  width: 58px;
}

.ipad-mini-1 .link-7 {
  color: var(--second-text-color);
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.ipad-mini-1 .cta-1 {
  display: flex;
  margin-left: 75px;
  width: 153px;
}

.ipad-mini-1 .join-us-1 {
  display: flex;
  width: 153px;
}

.ipad-mini-1 .buttonbtnprimary-color-1 {
  align-items: center;
  background-color: var(--green-pea);
  border-radius: 5px;
  display: flex;
  height: 52px;
  overflow: hidden;
  padding: 0 25px;
  width: 153px;
}

.ipad-mini-1 .btn-text-1 {
  color: var(--light-background-color);
  font-weight: 700;
  line-height: 22px;
  min-height: 22px;
  min-width: 78px;
  white-space: nowrap;
}

.ipad-mini-1 .icn-arrow-right-icn-xs-1 {
  height: 10px;
  margin-left: 13px;
  width: 12px;
}

.ipad-mini-1 .navbar-toggler-1 {
  align-self: center;
  height: 14px;
  margin-left: 611px;
  margin-top: 0.71px;
  width: 24px;
}

.ipad-mini-1 .pricing-table-2 {
  background-color: var(--light-gray-1);
  display: flex;
  justify-content: flex-end;
}

.ipad-mini-1 .group-19-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 75px;
  margin-top: 109px;
  min-width: 623px;
}

.ipad-mini-1 .cloud-2 {
  align-items: center;
  background-color: var(--light-background-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  padding: 10px 0;
  width: 272px;
}

.ipad-mini-1 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7.89px;
  margin-top: 6px;
  min-height: 541px;
  width: 264px;
}

.ipad-mini-1 .group-18-4 {
  display: flex;
  width: 264px;
}

.ipad-mini-1 .group-6-2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 149px;
}

.ipad-mini-1 .place-4 {
  letter-spacing: -0.88px;
  text-align: center;
}

.ipad-mini-1 .group-4-2 {
  align-items: center;
  display: flex;
  flex: 1;
  margin-left: 3.78%;
  margin-right: 18.65%;
  margin-top: 24px;
  max-height: 50px;
  min-width: 77.57%;
}

.ipad-mini-1 .price-2 {
  letter-spacing: 0;
  line-height: 48px;
  min-height: 50px;
  text-align: center;
  white-space: nowrap;
  width: 89px;
}

.ipad-mini-1 .user-month-2 {
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 10.0px;
  margin-left: 2px;
  min-height: 10px;
  text-align: center;
  white-space: nowrap;
  width: 115px;
}

.ipad-mini-1 .text-12 {
  flex: 1;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 2.07%;
  margin-right: 0.75%;
  margin-top: 24px;
  max-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-15-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 7.13px;
  margin-top: 8px;
  min-height: 384px;
  width: 217px;
}

.ipad-mini-1 .group-13-4 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  min-width: 219px;
}

.ipad-mini-1 .tick-square-4 {
  height: 22px;
  margin-top: -0.02px;
  width: 29px;
}

.ipad-mini-1 .version-control-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 3px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-12-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 123px;
}

.ipad-mini-1 .tick-square-2 {
  height: 24px;
  width: 28px;
}

.ipad-mini-1 .visibility-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-11-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 139px;
}

.ipad-mini-1 .hosted-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-15-9 {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
  min-width: 121px;
}

.ipad-mini-1 .security-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-14-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 165px;
}

.ipad-mini-1 .authentication-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-16-4 {
  align-items: flex-start;
  display: flex;
  margin-top: 12px;
  min-width: 162px;
}

.ipad-mini-1 .access-control-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .overlap-group-7 {
  height: 62px;
  margin-top: 12px;
  position: relative;
  width: 168px;
}

.ipad-mini-1 .group-17-6 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 149px;
  position: absolute;
  top: 0;
}

.ipad-mini-1 .api-access-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 48px;
  width: 120px;
}

.ipad-mini-1 .group-19-4 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 168px;
  position: absolute;
  top: 38px;
}

.ipad-mini-1 .tick-square-5 {
  height: 24px;
  width: 34px;
}

.ipad-mini-1 .usage-metrics-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .group-18-5 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-top: 12px;
  min-width: 195px;
}

.ipad-mini-1 .tick-square-6 {
  height: 19px;
  margin-top: -0.07px;
  width: 29px;
}

.ipad-mini-1 .full-lineage-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .overlap-group1-5 {
  height: 60px;
  margin-top: 12px;
  position: relative;
  width: 187px;
}

.ipad-mini-1 .group-20-2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  left: 0;
  min-width: 187px;
  position: absolute;
  top: 0;
}

.ipad-mini-1 .audit-log-history-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 1px;
  min-height: 48px;
  width: 158px;
}

.ipad-mini-1 .group-21-2 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  left: 0;
  min-width: 186px;
  position: absolute;
  top: 36px;
}

.ipad-mini-1 .assigned-support-2 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.ipad-mini-1 .frame-19-2 {
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-right: 5.0px;
  margin-top: 35px;
  width: 213px;
}

.ipad-mini-1 .get-demo-4 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 29.11%;
  margin-right: 28.17%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 91px;
}

.ipad-mini-1 .enterprise-2 {
  background-color: var(--green-pea);
  border-radius: 15px;
  box-shadow: 0px 15px 20px #00000005 , 0px 5px 10px #00000005;
  display: flex;
  flex-direction: column;
  height: 650px;
  margin-left: 53px;
  width: 298px;
}

.ipad-mini-1 .group-17-7 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 5.76%;
  margin-right: -4.36%;
  margin-top: 16px;
  max-height: 485px;
  min-height: 485px;
}

.ipad-mini-1 .place-5 {
  letter-spacing: -0.88px;
  margin-left: 4.99px;
  min-height: 56px;
  width: 134px;
}

.ipad-mini-1 .group-5-2 {
  align-self: flex-end;
  display: flex;
  height: 21px;
  margin-right: 0;
  margin-top: 5px;
  width: 282px;
}

.ipad-mini-1 .contact-us-2 {
  height: 20.626506805419922px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  width: 281.9173889160156px;
}

.ipad-mini-1 .group-15-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 76px;
  min-height: 327px;
  width: 285px;
}

.ipad-mini-1 .overlap-group1-6 {
  height: 245px;
  margin-left: -0.28px;
  position: relative;
  width: 287px;
}

.ipad-mini-1 .group-12-5 {
  align-items: flex-start;
  display: flex;
  height: 74px;
  left: 0;
  min-width: 157px;
  position: absolute;
  top: 37px;
}

.ipad-mini-1 .tick-square-3 {
  height: 26px;
  margin-top: -0.37px;
  width: 26px;
}

.ipad-mini-1 .in-your-cloud-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 0;
  margin-left: 8px;
  min-height: 74px;
  width: 124px;
}

.ipad-mini-1 .group-13-5 {
  align-items: flex-start;
  display: flex;
  height: 74px;
  left: 0;
  min-width: 232px;
  position: absolute;
  top: 0;
}

.ipad-mini-1 .flexible-deployment-2 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 74px;
  width: 198px;
}

.ipad-mini-1 .group-11-5 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  left: 0;
  min-width: 132px;
  position: absolute;
  top: 74px;
}

.ipad-mini-1 .tick-square-7 {
  height: 25px;
  margin-top: -0.08px;
  width: 26px;
}

.ipad-mini-1 .on-prem-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  margin-top: 0;
  min-height: 50px;
  width: 98px;
}

.ipad-mini-1 .overlap-group-8 {
  height: 136px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 195px;
}

.ipad-mini-1 .managed-directly-2 {
  left: 34px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 37px;
  width: 161px;
}

.ipad-mini-1 .tick-square-8 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 26px;
}

.ipad-mini-1 .group-15-11 {
  align-items: flex-start;
  display: flex;
  height: 74px;
  left: 0;
  min-width: 157px;
  position: absolute;
  top: 0;
}

.ipad-mini-1 .tick-square-9 {
  height: 25px;
  margin-top: -0.12px;
  width: 26px;
}

.ipad-mini-1 .custom-sla-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 74px;
  width: 124px;
}

.ipad-mini-1 .group-16-5 {
  align-items: center;
  display: flex;
  height: 50px;
  left: 0;
  min-width: 287px;
  position: absolute;
  top: 183px;
}

.ipad-mini-1 .tick-square-10 {
  height: 26px;
  margin-bottom: 0.01px;
  width: 28px;
}

.ipad-mini-1 .text-11 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 6px;
  min-height: 50px;
  width: 253px;
}

.ipad-mini-1 .group-17-8 {
  align-items: flex-start;
  display: flex;
  height: 82px;
  margin-left: 0.19px;
  min-width: 272px;
}

.ipad-mini-1 .tick-square-11 {
  height: 26px;
  margin-top: 0.12px;
  width: 26px;
}

.ipad-mini-1 .unlimited-uers-2 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 8px;
  min-height: 82px;
  width: 238px;
}

.ipad-mini-1 .frame-20-2 {
  background-color: var(--faded-primary-color);
  border-radius: 5px;
  display: flex;
  height: 48px;
  margin-left: 53.0px;
  margin-top: 91px;
  width: 213px;
}

.ipad-mini-1 .get-demo-5 {
  flex: 1;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 30.28%;
  margin-right: 29.34%;
  margin-top: 12px;
  text-align: center;
  white-space: nowrap;
  width: 86px;
}

.ipad-mini-1 .google-partner-2 {
  background-color: var(--light-background-color);
  display: flex;
  overflow: hidden;
}

.ipad-mini-1 .container-6 {
  display: flex;
  flex: 1;
  height: 519px;
  justify-content: center;
}

.ipad-mini-1 .main-content-5 {
  display: flex;
  flex-direction: column;
  height: 443px;
  margin-top: 50px;
  overflow: hidden;
  width: 630px;
}

.ipad-mini-1 .gc-partner-nooutline-h-1-2 {
  object-fit: cover;
}

.ipad-mini-1 .text-13 {
  letter-spacing: 0.20px;
  line-height: 20px;
  margin-top: 10px;
}

.ipad-mini-1 .paragraph-sec-2 {
  color: var(--second-text-color);
  line-height: 20px;
  margin-top: 10px;
}

.ipad-mini-1 .lear-more-2 {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.ipad-mini-1 .h6-2 {
  color: var(--green-pea);
  line-height: 16px;
  min-height: 16px;
  min-width: 72px;
  white-space: nowrap;
}

.ipad-mini-1 .icon-arrow-next-2 {
  height: 9px;
  margin-left: 8px;
  width: 6px;
}

.ipad-mini-1 .footer-2 {
  background-color: var(--light-gray-1);
  display: flex;
  justify-content: center;
}

.ipad-mini-1 .div-2 {
  background-color: var(--faded-primary-color);
  display: flex;
  height: 74px;
  margin-top: -4px;
  width: 768px;
}

.ipad-mini-1 .text-14 {
  height: 36px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 40px;
  margin-top: 31px;
  width: 172px;
}

.ipad-mini-1 .terms-of-service-2 {
  height: 36px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 5px;
  margin-top: 29px;
  width: 92px;
}

.ipad-mini-1 .text-15 {
  height: 36px;
  letter-spacing: 0.20px;
  line-height: 24px;
  margin-left: 5px;
  margin-top: 29px;
  width: 262px;
}

.ipad-mini-1 .twitter-2 {
  height: 21px;
  margin-left: 17px;
  margin-top: 31px;
  width: 25px;
}

.ipad-mini-1 .div-item-1 {
  height: 21px;
  margin-left: 12px;
  margin-top: 31px;
  width: 25px;
}
@media screen and (max-width: 767px) {
  .screen.desktop-1 { 
    display: none;
   }
  .screen.ipad-mini-1 { 
    display: none;
   }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .screen.android-1 { 
    display: none;
   }
  .screen.desktop-1 { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.android-1 { 
    display: none;
   }
  .screen.ipad-mini-1 { 
    display: none;
   }
}